
body{
    background-color: #13162B;
}
.d-flex{
    display: flex;
}
.box-1{
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    position: relative;
}
.box-2{
    /* margin-top:50px; */
    position: absolute;
    top: 50px;
    right: -50px;
    background-color: #202334;
    width: 600px;
    height: 500px;
    color: white;
    border-radius: 20px;
}
.counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.counter h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    background-color: white;
    color: #13162B;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 30px;
}
button{
    margin: 15px;
    background-color: #13162B;
    color: white;
}
